html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0em;
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  line-height: 1.55rem;
  font-feature-settings: "liga" 1, "calt" 0;
}

/* header */
header.top-nav {
  z-index: 1;
  background-color: $blue;
  width: 100%;
}

@media (max-width: 600px) {
  .toolbar-title {
    display: none;
  }
}

.top-nav-title,
.top-nav-link {
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* map view */
.main,
.webmap {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex-direction: column;
}

.esri-view-root {
  width: 100%;
  height: 100%;
}

/* Fix for some calcite styles */
.esri-widget {
  h3 {
    font-size: 1rem;
  }
  li {
    margin: 0;
  }
}

// widgets
.info {
  display: flex;
  background: $blue;
  width: 100%;
  height: 175px;
}

.compass {
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
}

.compass__icon {
  height: 100px;
  width: 100px;
  color: $off-white;
}

.camera_details {
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  color: $off-white;
  border-right: 1px solid $off-white;
  border-left: 1px solid $off-white;
}